<div class="card mb-5">
  <div class="card-body mb-5">
    <div class="card-title">{{title}}:</div>
    <div class="card-text mx-5">
      {{#each array}}
      <li>{{this.name}}</li>
      {{/each}}
    </div>
  </div>
  </div>
